{% extends layout_base or 'layouts/student/fluid.html' %}

{% block page %}
<div class="{{ containerClass }} page__container p-0">
  <div class="row m-0">
    <div class="col-lg container-fluid page__container">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ prefix or '' }}dashboard.html">Home</a></li>
        <li class="breadcrumb-item active">Edit Account</li>
      </ol>
      <h1 class="h2">{{ title }}</h1>
      {% include 'partials/page.' + slug + '.html' ignore missing %}
    </div>
    <div 
      id="page-nav" 
      class="col-lg-auto page-nav">
      <div data-perfect-scrollbar>
        <div class="page-section pt-lg-32pt">
          <ul class="nav page-nav__menu">
            <li class="nav-item">
              <a href="{{ prefix }}account-edit-basic.html" class="nav-link{% if 'basic' in slug %} active{% endif %}">Basic Information</a>
            </li>
            <li class="nav-item">
              <a href="{{ prefix }}account-edit-profile.html" class="nav-link{% if 'profile' in slug %} active{% endif %}">Profile &amp; Privacy</a>
            </li>
          </ul>
          <div class="page-nav__content">
            <button class="btn btn-success">Save Changes</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
