{% set bodyClass = 'app-messages' %}

{% extends 'layouts/student/fluid.html' %}

{% block page %}
<div
  data-push 
  data-responsive-width="768px"
  class="mdk-drawer-layout js-mdk-drawer-layout">
  <div class="mdk-drawer-layout__content">
    {% include 'partials/page.messages.html' %}
  </div>
  
  {% import 'layouts/sidebars/messages.html' as sidebar %}
  {{ sidebar.component(prefix=prefix, slug=slug, drawerOptions="top-0") }}
</div>
{% endblock %}

{% block footer %}
  {% include "partials/footer.messages.html" %}
{% endblock %}