$list-group-border-color:           $border-color !default;
$list-group-border-radius:          0 !default;
$list-group-item-padding-x:         1.25rem !default;
$list-group-item-padding-y:         .75rem !default;