$nav-tabs-link-active-hover-color:  $primary !default;
$nav-tabs-link-active-border-color: $border-color !default;
$nav-tabs-link-active-bg:           $white !default;
$nav-tabs-border-color:             $border-color !default;
$nav-disabled-link-color:           $text-muted-light !default;