$table-border-color:          $border-color !default;
$table-cell-padding:          .5rem .75rem !default;

$table-head-bg:               $body-bg !default;
$table-head-color:            $text-muted-light !default;