<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>{{ title }}</title>
	
	{% include "layouts/_header.html" %}

	{% block vendor_styling %}{% endblock %}

	{% block header_scripts %}{% endblock %}

</head>
<body class="login">
	
	{% block page %}{% endblock %}

	{% include "layouts/_footer.html" %}

	{% block vendor_scripts %}{% endblock %}

	{% block example_scripts %}{% endblock %}

</body>
</html>