{% import 'partials/_card-pricing.html' as pricing %}

<div class="row card-group-row mb-40pt">
  <div class="col-lg-6 col-sm-6 card-group-row__col">
    {{ pricing.component(
      prefix=prefix,
      title="Student", 
      description="Access to over 1.000 high quality courses. For individuals.",
      price="9",
      color="secondary",
      raised=true,
      actionColor="outline-secondary",
      icon="person",
      action="Current plan",
      actionDisabled=true
      ) }}
  </div>
  <div class="col-lg-6 col-sm-6 card-group-row__col">
    {{ pricing.component(
      prefix=prefix,
      title="Team", 
      description="Starts with 3 accounts with more seats available.",
      price="19",
      color="success",
      icon="group",
      actionURL="account-billing-payment-information.html"
      ) }}
  </div>
</div>