<div class="{{ containerClass }} page__container">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ prefix or '' }}dashboard.html">Home</a></li>
    <li class="breadcrumb-item active">Earnings</li>
  </ol>
  <h1 class="h2">Earnings</h1>
  <div class="card">
    <div class="card-body">
      <div class="d-flex form-inline">
        <div class="form-group mr-12pt">
          <select class="custom-select">
            <option selected>2015</option>
            <option value="1">2014</option>
            <option value="2">2013</option>
            <option value="3">2012</option>
          </select>
        </div>
        <div class="form-group">
          <div class="chart-legend m-0 justify-content-start" id="earningsChartLegend"></div>
        </div>
      </div>
      <div class="chart">
        <canvas 
          id="earningsChart" 
          class="chart-canvas js-update-chart-bar" 
          data-chart-legend="#earningsChartLegend"
          data-chart-prefix="$"
          data-chart-suffix="k"
          data-chart-line-background-color="primary"{% if dark_mode %}
          data-chart-dark-mode="true"{% endif %}></canvas>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <h5 class="card-title">Total <span class="text-primary">$19,239</span></h5>
    </div>
    <div
      data-toggle="lists" 
      data-lists-values='[
        "js-lists-values-course", 
        "js-lists-values-revenue",
        "js-lists-values-fees"
      ]'
      data-lists-sort-by="js-lists-values-revenue"
      data-lists-sort-desc="true"
      class="table-responsive">
      <table class="table table-nowrap m-0">
        <thead class="thead-light">
          <tr class="text-uppercase small">
            <th>
              <a 
                href="javascript:void(0)" 
                class="sort"
                data-sort="js-lists-values-course">Course</a>
            </th>
            <th class="text-center" style="width:130px">
              <a 
                href="javascript:void(0)" 
                class="sort"
                data-sort="js-lists-values-fees">Fees</a>
            </th>
            <th class="text-center" style="width:130px">
              <a 
                href="javascript:void(0)" 
                class="sort"
                data-sort="js-lists-values-revenue">Revenue</a>
            </th>
          </tr>
        </thead>
        
        {% set earnings = [{
            course: "Angular Routing In-Depth",
            image: "assets/images/vuejs.png",
            revenue: "8,737",
            sales: "34",
            fees: "120"
          }, {
            course: "Angular Unit Testing",
            image: "assets/images/vuejs.png",
            revenue: "2,521",
            sales: "38"
          }, {
            course: "Introduction to TypeScript",
            image: "assets/images/github.png",
            revenue: "1,413",
            sales: "8"
          }, {
            course: "Learn Angular Fundamentals",
            image: "assets/images/gulp.png",
            revenue: "1,234",
            sales: "31"
          }] %}

        <tbody class="list">
          {% for item in earnings %}
          <tr>
            <td>
              <div class="media align-items-center">
                <a href="{{ prefix or '' }}course-edit.html" class="avatar avatar-4by3 avatar-sm mr-3">
                  <img src="{{ item.image }}" alt="course" class="avatar-img rounded">
                </a>
                <div class="media-body">
                  <a class="text-body js-lists-values-course" href="{{ prefix or '' }}course-edit.html"><strong>{{ item.course }}</strong></a>
                  <div class="text-muted small">{{ item.sales }} Sales</div>
                </div>
              </div>
            </td>
            <td class="text-center text-black-70">
              {% if item.fees %}
              &dollar;<span class="js-lists-values-fees">{{ item.fees }}</span> USD
              {% else %}
              <span class="js-lists-values-fees sr-only">0</span>
              <i class="material-icons text-muted-light">remove</i>
              {% endif %}
            </td>
            <td class="text-center text-black-70">
              &dollar;<span class="js-lists-values-revenue">{{ item.revenue }}</span> USD
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  {% include 'partials/_pagination.html' %}
</div>