<div class="{{ containerClass }} page__container">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ prefix or '' }}dashboard.html">Home</a></li>
    <li class="breadcrumb-item active">Quiz</li>
  </ol>
  <div class="card-group">
    <div class="card">
      <div class="card-body text-center">
        <h4 class="mb-0"><strong>25</strong></h4>
        <small class="text-muted-light">TOTAL</small>
      </div>
    </div>
    <div class="card">
      <div class="card-body text-center">
        <h4 class="text-success mb-0"><strong>3</strong></h4>
        <small class="text-muted-light">CORECT</small>
      </div>
    </div>
    <div class="card">
      <div class="card-body text-center">
        <h4 class="text-danger mb-0"><strong>5</strong></h4>
        <small class="text-muted-light">WRONG</small>
      </div>
    </div>
    <div class="card">
      <div class="card-body text-center">
        <h4 class="text-primary mb-0"><strong>17</strong></h4>
        <small class="text-muted-light">LEFT</small>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <div class="media align-items-center">
        <div class="media-left">
          <h4 class="mb-0"><strong>#9</strong></h4>
        </div>
        <div class="media-body">
          <h4 class="card-title">
             Github command to deploy comits? 
          </h4>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="form-group">
        <div class="custom-control custom-checkbox">
          <input id="customCheck01" type="checkbox" class="custom-control-input">
          <label for="customCheck01" class="custom-control-label">git push</label>
        </div>
      </div>
      <div class="form-group">
        <div class="custom-control custom-checkbox">
          <input id="customCheck02" type="checkbox" class="custom-control-input">
          <label for="customCheck02" class="custom-control-label">git commit -m "message"</label>
        </div>
      </div>
      <div class="form-group">
        <div class="custom-control custom-checkbox">
          <input id="customCheck03" type="checkbox" class="custom-control-input">
          <label for="customCheck03" class="custom-control-label">git pull</label>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <a href="#" class="btn btn-white">Skip</a>
      <a href="#" class="btn btn-success float-right">Submit <i class="material-icons btn__icon--right">send</i></a>
    </div>
  </div>
</div>