<!-- <div class="flex search-form search-form--light mb-4">
  <button class="btn pr-3" type="button" role="button"><i class="material-icons">search</i></button>
  <input type="text" class="form-control" placeholder="Search" id="searchSample02">
</div> -->

<div class="card">
  <div class="card-header">
    <div class="d-flex align-items-center">
      <a href="{{ prefix }}take-course.html" class="mr-3">
        <img src="assets/images/vuejs.png" width="100" alt="" class="rounded">
      </a>
      <div class="flex">
        <h4 class="card-title mb-0"><a href="{{ prefix }}take-course.html">VueJs</a></h4>
        <span class="badge badge-primary">Advanced</span>
      </div>
    </div>
  </div>
  <ul class="list-group list-group-fit">
    <li class="list-group-item">
      <a href="{{ prefix }}view-course.html" class="text-body text-decoration-0 d-flex align-items-center">
        <strong>Basics of Vue.js</strong>
        <i class="material-icons text-muted ml-auto" style="font-size: inherit;">check</i>
      </a>
    </li>
    <li class="list-group-item">
      <a href="{{ prefix }}view-course.html" class="text-body text-decoration-0 d-flex align-items-center">
        <strong>Intermediate Vue.js</strong>
        <i class="material-icons text-muted ml-auto" style="font-size: inherit;">check</i>
      </a>
    </li>
    <li class="list-group-item">
      <a href="{{ prefix }}view-course.html" class="text-body text-decoration-0 d-flex align-items-center">
        <strong>Realtime Apps with Vue.js</strong>
        <i class="material-icons text-muted ml-auto" style="font-size: inherit;">check</i>
      </a>
    </li>
  </ul>
</div>
<div class="card">
  <div class="card-header">
    <div class="d-flex align-items-center">
      <a href="{{ prefix }}take-course.html" class="mr-3">
        <img src="assets/images/nodejs.png" alt="" class="rounded" width="100">
      </a>
      <div class="flex">
        <h4 class="card-title mb-0"><a href="{{ prefix }}take-course.html">NodeJs</a></h4>    
        <span class="badge badge-success">Beginner</span>
      </div>
    </div>
  </div>
  <ul class="list-group list-group-fit">
    <li class="list-group-item">
      <a href="{{ prefix or '' }}view-course.html" class="text-body text-decoration-0 d-flex align-items-center">
        <strong>Getting started with Node</strong>
        <i class="material-icons text-muted ml-auto" style="font-size: inherit;">check</i>
      </a>
    </li>
  </ul>
</div>
<div class="card">
  <div class="card-header">
    <div class="d-flex align-items-center">
      <a href="{{ prefix }}take-course.html" class="mr-3">
        <img src="assets/images/github.png" alt="" class="rounded" width="100">
      </a>
      <div class="media-body">
        <h4 class="card-title mb-0"><a href="{{ prefix }}take-course.html">GitHub</a></h4>    
        <span class="badge badge-warning">Intermediate</span>
      </div>
    </div>
  </div>
  <ul class="list-group list-group-fit">
    <li class="list-group-item">
      <a href="{{ prefix or '' }}view-course.html" class="text-body text-decoration-0 d-flex align-items-center">
        <strong>Github Step by Step</strong>
        <i class="material-icons text-muted ml-auto" style="font-size: inherit;">check</i>
      </a>
    </li>
    <li class="list-group-item">
      <a href="{{ prefix or '' }}view-course.html" class="text-body text-decoration-0 d-flex align-items-center">
        <strong>Working as a Team with GitHub</strong>
        <i class="material-icons text-muted ml-auto" style="font-size: inherit;">check</i>
      </a>
    </li>
  </ul>
</div>